{% extends 'Shared/Base.html' %}
{% load render_partial %}
{% load widget_tweaks %}
{% load comment_tags %}
{% load static %}
{% block head_title %}مقاله {{ object.title }}{% endblock %}
{% block content %}
    <!-- inner page banner -->
    <div class="page-banner ovbl-dark" style="background-image:url({{ object.image.url }});">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">مقاله {{ object.title }}</h1>
            </div>
        </div>
    </div>
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="{% url 'index:index_page' %}">خانه</a></li>
                <li><a href="{% url 'blog:blog_list' %}">مقالات</a></li>
                <li><a href="{% url 'blog:blog_detail' object.pk object.slug %}">{{ object.title }}</a></li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <div class="content-block">
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-lg-8 col-xl-8">
                        <!-- blog start -->
                        <div class="recent-news blog-lg">
                            <div class="action-box blog-lg">
                                <img src="{{ object.image.url }}" alt="{{ object.title }}">
                            </div>
                            <div class="info-bx">
                                <ul class="media-post">
                                    <li><a><i class="fa fa-user"></i>{{ object.get_author_name }}
                                    </a></li>
                                    <li><a><i class="fa fa-calendar"></i>{{ object.get_jalali_date_for_url }}
                                    </a></li>
                                    <li><a><i
                                            class="fa fa-comments-o"></i>{{ object.comments.get_active_comment.count }}
                                        دیدگاه</a></li>
                                    <li><a><i
                                            class="fa fa-eye"></i>{{ object.hits.all.count }} بازدید</a></li>
                                </ul>
                                <h5 class="post-title"><a href="#">{{ object.title }}</a></h5>
                                {{ object.description|safe }}
                                <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
                                <div class="widget_tag_cloud">
                                    <h6>برچسب ها</h6>
                                    <div class="tagcloud">
                                        {% for tag in object.tags.get_active_tag %}
                                            <a href="{% url 'blog:blog_list' %}?search={{ tag.title }}">{{ tag.title }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
                                <h6>اشتراک</h6>
                                <ul class="list-inline contact-social-bx">
                                    <li><a target="_blank" href="whatsapp://send?text=http://127.0.0.1:8000{% url 'blog:blog_detail' object.pk object.slug %}" class="btn outline radius-xl"><i class="fa fa-whatsapp"></i></a>
                                    </li>
                                    <li><a target="_blank" href="https://twitter.com/share?url=http://127.0.0.1:8000{% url 'blog:blog_detail' object.pk object.slug %}" class="btn outline radius-xl"><i class="fa fa-twitter"></i></a></li>
                                    <li><a target="_blank" href="https://t.me/share/url?url=http://127.0.0.1:8000{% url 'blog:blog_detail' object.pk object.slug %}" class="btn outline radius-xl"><i class="fa fa-telegram"></i></a>
                                    </li>
                                    <li><a target="_blank" href="http://www.facebook.com/sharer.php?u=http://127.0.0.1:8000{% url 'blog:blog_detail' object.pk object.slug %}" class="btn outline radius-xl"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a target="_blank" href="mailto:?subject={{ object.title }}&body=http://127.0.0.1:8000{% url 'blog:blog_detail' object.pk object.slug %}" class="btn outline radius-xl"><i class="fa fa-envelope"></i></a>
                                    </li>
                                </ul>
                                <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
                            </div>
                        </div>
                        <!-- blog END -->
                    {% comment object %}
                    </div>
                    <!-- Left part END -->
                    <!-- Side bar start -->
                    {% render_partial 'blog_app.views.sidebar_blog' %}
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_footer_reference %}
    <script>
    function updateParentInput(num){
        document.getElementById("parent_id").value = num;
        $("#reply-title").text("پاسخ خود را بنویسید");
    }
    </script>
{% endblock %}

